<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
</head>
<body>
    <h1>Менеджер задач</h1>
    <a href="{% url 'home' %}">Главная</a>
    <p>
        <button><a href="{% url 'add_category' %}">Добавить категорию</a></button>
    </p>
    <p>
        <a href="{% url 'done_tasks' %}">Выполненные задачи</a>
    </p>
    <h2>Категории задач</h2>
    <table>
        <tr>
            <th>№</th>
            <th>Категория</th>
            <th>Удалить категорию</th>
        </tr>
    {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td><a href="{% url 'tasks' category.id %}">{{ category.title }}</a></td>
            <td><a href="{% url 'category_del' category.id %}"> Удалить</a></td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>