{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
                <h4 class="header-line">Менеджер задач</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--   Kitchen Sink -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Категории задач
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Категория</th>
                                    <th>Количество задач</th>
                                    <th>Удалить категорию</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for category in categories %}
                                <tr>
                                    <td>{{ category.id }}</td>
                                    <td><a href="{% url 'tasks' category.id %}">{{ category.title }}</a></td>
                                    <td>{{ category.title }}</td>
                                    <td><a href="{% url 'category_del' category.id %}" class="btn btn-danger"> Удалить</a></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- End  Kitchen Sink -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
