<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ category.title }}</title>
</head>
<body>
    <a href="{% url 'home' %}">Главная</a>
    <p>
    <button><a href="{% url 'add_task' category.title %}">Добавить задачу</a></button>
    </p>
    <h2>{{ category }}</h2>
    {% if tasks %}
    <table>
        <tr>
            <th>Статус</th>
            <th>Задача</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td><a href="{% url 'task_del' task.id %}">O</a></td>
            <td><a href="{% url 'description' task.id %}">{{ task.title}}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Задач пока нет. Для создания нажмите кнопку "Добавить задачу"</p>
    {% endif %}
</body>
</html>